<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="netnode">
  <description>PHP CodeSniffer configuration for netnode.</description>
  <!-- Check all custom modules. -->
  <file>web/modules/custom</file>
  <arg name="extensions" value="php,module,inc,install,test,profile,theme,css,info,txt,md,yml"/>
  <config name="drupal_core_version" value="8"/>
  <rule ref="vendor/drupal/coder/coder_sniffer/Drupal">
  </rule>
</ruleset>
